<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- configure our appenders. These define what we can log to. -->
    <!-- Print to the console. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <!-- send to rabbitmq for our logging service to pick up -->
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <!--ISO 8601 timestamp format-->
            <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
        </layout>
        <host>localhost</host>
        <username>admin</username>
        <password>password</password>
        <exchangeName>logs</exchangeName>
        <verifyHostname>false</verifyHostname>
        <applicationId>CustomerService</applicationId>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
    </appender>

    <!-- we can get granular and define error levels and appender usage by logger or
         group of loggers that start with the value for "name" -->
    <logger name="com.northwind" level="info" >
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AMQP" />
    </logger>

    <!-- Root logger. This is required and is used by default if there are no
         specific loggers defined above -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="AMQP" />
    </root>

</configuration>
